@import 'variables.scss';

.button {
  border: none;
  padding: 12px;
  background-color: $color-white;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
